<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">
        StudentList
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>StudentName</th>
                    <th>LastName</th>
                    <th>DateOfCreated</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in vm.students">
                    <td>{{ student.firstName}}</td>

                    <td>{{student.lastName }}</td>
                    <td>{{ student.dateOfCreated | date}}</td>
                    <td>
                        <button data-ng-click="studentGetById(student.id)" class="btn btn-primary">Edit</button> 
                        <button ng-click="vm.studentDel()"  class="btn btn-primary"> Delete</button> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
